body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    
}
h2 {
    color: #2c3e50;
    font-size: 30px;
    font-weight: 500;
    margin: 1;
    
}

header {
    background-color: #174c19a3;
    color: white;
    padding: 5px 0;
    text-align: center;
}
/* All navigation */
nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    background-color: #174c19a3;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 50px;
    justify-content: flex-end;
    width: 80%;
    position: relative;
    margin: 0;
}

nav ul li {
    position: relative;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    display: block;
}

/* Styling for the dropdown */
.sub-navbar {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #387838;
    list-style-type: none;
    padding: 0;
    min-width: 150px;
    border-radius: 5px;
}

.sub-navbar li {
    width: 100%;
}

.sub-navbar a {
    padding: 10px;
    display: block;
    color: white;
    text-decoration: none;
    font-size: medium;
}

.sub-navbar a:hover {
    background-color: #1f4d1f;
}

/* Show dropdown when hovering over "Mountains" */
nav ul li:hover .sub-navbar {
    display: block;
    z-index: 1;
}

/* Left Tittle */
#toph1{
    position: absolute;
    left: 5%;
    color: #ffffff;
    font-size: 28px;
    margin-top: 10px;
    font-style: bold;
    font-family: Arial, sans-serif;
}

/* Fixed backgrounds */
.fixed-bg {
    background-image: url('images/trail1.jpg');
    min-height: 600px;
    width: 100%;
    background-attachment: fixed;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    /* opacity: 0.7; */
    filter: brightness(0.9);
}
.fixed-bg h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 50px;
    font-weight:900;
    text-align: center;
}
.mountain-bg{
    background-image: url('images/sunset.jpg');
    min-height: 600px;
    width: 100%;
    background-attachment: fixed;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    /* opacity: 0.7; */
    filter: brightness(0.9);
}
.mountain-bg h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 50px;
    font-weight:900;
    text-align: center;
}
.trail-bg{
    background-image: url('images/treesandsun.jpeg');
    min-height: 600px;
    width: 100%;
    background-attachment: fixed;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    /* opacity: 0.7; */
    filter: brightness(0.9);
}
.trail-bg h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 50px;
    font-weight:900;
    text-align: center;
}
/* Contact Background */
.contact-bg{
    background-image: url('images/trail2.jpg');
    min-height: 600px;
    width: 100%;
    background-attachment: fixed;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    /* opacity: 0.7; */
    filter: brightness(0.9);
}
.contact-bg h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 50px;
    font-weight:900;
    text-align: center;
}


.container {
    padding: 20px;
}
.intro {
    text-align: center;
}
    #home {
        display: flex;
        flex-wrap: nowrap;
        gap: 30px;
        justify-content: space-between;
        align-items: center;
        max-width: 1400px;
        margin: auto;
        padding: 40px;
    }
    #home img {
        max-width: 60%;
        height: auto;
        border-radius: 5px;
        object-fit: cover;
    }
    #home img:hover {
        opacity: 0.9;
        transition: 0.5s ease;
    }

.content-wrapper h2 {
    margin: 0;
    color: #2c3e50;
    font-size: 40px;
    font-weight: 500;
}

.content-wrapper p {
    color: #555;
    font-size: 18px;
    line-height: 1.5;

}
.content-wrapper ul{
    color: #555;
    font-size: 18px;
    line-height: 1.5;
    list-style-type: disc;
    padding-left: 20px;
}

div.scroll-container {
    background-color: #454444;  
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
  }
  
  div.scroll-container img {
    padding: 10px;
  }
  #topBtn {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: forestgreen;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
    transition: opacity 0.3s;
}

#topBtn:hover {
    background-color: darkgreen;
}


.footer{
    background-color: #285c2a;
    color: white;
    text-align: center;
    padding: 1em 0;
}