body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #285c2a;
    color: white;
    padding: 5px 0;
    text-align: center;
}
nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    background-color: #285c2a;
}
nav ul {
    list-style-type: none;
    display: flex;
    gap: 50px;
    justify-content: flex-end;
    width: 80%;
    
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

#toph1{
    position: absolute;
    left: 5%;
    color: #ffffff;
    font-size: 28px;
    margin-top: 10px;
    font-style: bold;
    font-family: Arial, sans-serif;
}
.fixed-bg {
    background-image: url('images/road.jpg');
    min-height: 600px;
    width: 100%;
    background-attachment: fixed;
    background-position:top;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    filter: brightness(0.5);
}
.container {
    padding: 20px;
}
.intro {
    text-align: center;
}
#home {
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: auto;
    padding: 40px;
}
#home img {
    max-width: 60%;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
}
.content-wrapper {
    max-width: 45%;
    padding: 20px;
}

.content-wrapper h2 {
    margin: 0;
    color: #2c3e50;
    font-size: 40px;
    font-weight: 500;
}

.content-wrapper p {
    color: #555;
    font-size: 18px;
    line-height: 1.5;

}

.featured {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}


.featured-item {
    flex: 1 1 calc(33.333% - 20px);
    background-color: white;
    padding: 9px;
    border: 1px solid #ddd;
    border-radius: px;
    text-align: center;
}

.featured-item img {
    max-width: 90%;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}

.featured-item button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #367438;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.featured-item button:hover {
    background-color: #45a049;
}

.footer{
    background-color: #285c2a;
    color: white;
    text-align: center;
    padding: 1em 0;
}